/* src/theme/variables.css */

:root {
    /* Set Background Aplikasi jadi "Soft Cloud" */
    --ion-background-color: #f4f5f8;
    --ion-background-color-rgb: 244, 245, 248;

    /* Font Family Standar HP (San Francisco / Roboto) */
    --ion-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

    /* Primary Color (Royal Blue) */
    --ion-color-primary: #3880ff;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;
}

/* Kustomisasi Khusus Komponen Ionic */

/* 1. Menghilangkan Border Garis pada List supaya bersih */
ion-item {
    --border-width: 0;
    --background: transparent;
    --padding-start: 0;
    --inner-padding-end: 0;
}

/* 2. Styling Checkbox jadi Bulat (Radio Style) */
ion-checkbox {
    --size: 24px;
    --border-radius: 50%;
    /* Bulat sempurna */
    --checkbox-background-checked: var(--ion-color-primary);
    --border-color: #d1d5db;
    /* Abu-abu muda saat belum dicentang */
    --border-width: 2px;
}